.rowLine{
  border-top: 2px solid #000;
  margin-top: -2px;
}
.rowLeftChild{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: -2px;

  >div{
    width: calc(50% - 15px);
  }

  :nth-child(2){
    border-top: 2px solid #000;
    border-top-left-radius: 8px;

  }
}
.rowRightChild{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: -2px;

  >div{
    width: calc(50% - 15px);
  }

  :nth-child(1){
    border-top: 2px solid #000;
    border-top-right-radius: 8px;

  }
};

.manyChild{
  width: 30px;
  height: 30px;
  display: flex;
  background-color: #c2d6e7;
  z-index: 5;
  >div{
    flex: 1;
  }

  :nth-child(1){
    border-right: 1.5px solid black;
    border-bottom-right-radius: 8px;
    border-bottom: 2px solid #000;
  }
  :nth-child(2){
    border-left: 1.5px solid black;
    border-bottom-left-radius: 8px;
    border-bottom: 2px solid #000;
  }
};

.oneChild{
  width: 30px;
  height: 30px;
  display: flex;
  >div{
    flex: 1;
  }

  :nth-child(1){
    border-right: 1.5px solid black;
  }
  :nth-child(2){
    border-left: 1.5px solid black;

  }
};

.leftChild{
  width: 100%;
  height: 30px;
  display: flex;
  margin-top: -2px;

  >div{
    flex: 1;
  }

  :nth-child(2){
    border-left: 2px solid black;
    border-top: 2px solid #000;
    border-top-left-radius: 8px;

  }
};

.rightChild{
  width: 100%;
  height: 30px;
  display: flex;
  margin-top: -2px;

  >div{
    flex: 1;
  }

  :nth-child(1){
    border-right: 2px solid black;
    border-top: 2px solid #000;
    border-top-right-radius: 8px;

  }
};

.none{
  display: none;
}